<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-imagegallery" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-imagegallery</name>
    <js-module name="cordova-plugin-imagegallery" src="www/cordova-plugin-imagegallery.js">
        <clobbers target="cordova.plugins.cordova-plugin-imagegallery" />
    </js-module>
    <config-file target="config.xml" parent="/*">
        <feature name="CDVImageGallery">
            <param name="ios-package" value="CDVJSBridge" />
        </feature>
    </config-file>
    <header-file src="src/ios/CDVImageGallery.h" />
    <source-file src="src/ios/CDVImageGallery.m" />
    <framework src="Gallery" type="podspec" spec="~> 2.2.0"/>
</plugin>
